
<div class="detailview-container">
<div class="Detailview">
     
        <img class="detailsview-image" src="{{homepageDetail.imagePath}}" alt="">
        <img src="" alt="">
        <h1> {{homepageDetail.title}}</h1>
        <h2> Description: {{homepageDetail.review}}</h2>
        <h2> Category: {{homepageDetail.categories}}  </h2>
        <a class="neon-btn" href="{{homepageDetail.url}}" target="_blank" class="button">Get to the page</a>  
        <hr class="schere">

      <div class="makeComment"> 
      <h3>What do you think?</h3>
      <form id="formdefault" action="/homepages/{{homepageDetail._id}}" method="POST">
      <label for="user">Your name:</label>
      <input id="inputfield" type="text" name="user">

      <label for="comment">Your thougts</label>
      <input id="inputfield" type="text" name="comment">
      <button class="neon-btn" type="submit">Thanks for sharing</button>
  </form>
</div>

</div>

  
        {{#each homepageDetail.comments}}
        <div class="comments">
        <img class="comment-image" src="https://cdn.icon-icons.com/icons2/1518/PNG/512/commentmono_105952.png" alt="">
        <span id="comment-content" class="neon-btn"> {{user}} says:</span>
        <span>{{comment}}</span>
        </div> 
        
        {{/each}}

</div>
 
    