
<div><a class="neon-btn" href="/auth/logout">Log-Out</a></div>

<h1>Hello {{user.username}}!</h1>

{{!-- Here is where the results of the form will display --}}

<h2>Grow the collection! Use the form below to add a crazy-cool website:</h2>


<div class ="addForm">
<form action="/profile" method="POST" enctype="multipart/form-data">
  <label for="title">Title:</label>
  <input type="text" name="title">


  <label for="review">Review:</label>
  <input type="text" name="review">

  <label for="url">Website Url:</label>
  <input type="text" name="url" placeholder="has to start with `http` or `https`">

<label for="categories">Category</label>
<select name="categories" id="category-cropdown">
  <option value="" disabled selected hidden>Choose a category</option>
  <option value="edgy">edgy and playful</option>
  <option value="attractive">attractive and appealing</option>
  <option value="cool">cool, but useless</option>
  <option value="educational">educational or informative</option>
  <option value="empowering">empowering</option>
  <option value="minimal">minimal</option>
</select>

  <label for="img">Upload a screenshot that represents the page the most:</label>
  <input type="file" id="img" name="FirstImage" accept="image/*">

{{!--   <label for="img">Upload another screenshot:</label>
  <input type="file" id="img" name="img" accept="image/*"> --}}

  <button type="submit">SUBMIT</button>
</form>
</div>


<div class="homepage-collection">

{{#if homepages}}
  {{#each homepages}}
  <div class="homepage-item">
    <img class="homepage-image" src="{{imagePath}}" alt="">
    <h4 class="homepage-title">Title: {{title}}</h4>
    <a class="neon-btn" href="/delete/{{_id}}">Delete</a>
    </div>
  {{/each}}
{{else}}
  <h3>No contributions yet. Submit a website using the form below to start.</h3>
{{/if}}
</div>

