


<h1>Hello {{user.username}}!</h1>

{{!-- Here is where the results of the form will display --}}



{{#if homepages}}
  {{#each homepages}}
  <div class="results">
    <h4>Title: {{title}}</h4>
    <h4>Review: {{review}}</h4>
    <h4>Category: {{categories}}</h4>
    <h4>Url: {{url}}</h4>
    <a href="/delete/{{_id}}">Delete this contribution❌</a>
    </div>
  {{/each}}
{{else}}
  <h3>No contributions yet. Submit a website using the form below to start.</h3>
{{/if}}


<div class ="addForm">
<form action="/profile" method="POST" enctype="multipart/form-data">
  <label for="title">Title:</label>
  <input type="text" name="title">


  <label for="review">Review:</label>
  <input type="text" name="review">

  <label for="url">Website Url:</label>
  <input type="text" name="url" placeholder="has to start with `http` or `https`">

<label for="categories">Category</label>
<select name="categories" id="category-cropdown">
  <option value="" disabled selected hidden>Choose a category</option>
  <option value="edgy">edgy and playful</option>
  <option value="attractive">attractive and appealing</option>
  <option value="cool">cool, but useless</option>
  <option value="educational">educational or informative</option>
  <option value="empowering">empowering</option>
  <option value="minimal">minimal</option>
</select>

  <label for="img">Upload a screenshot that represents the page the most:</label>
  <input type="file" id="img" name="FirstImage" accept="image/*">

{{!--   <label for="img">Upload another screenshot:</label>
  <input type="file" id="img" name="img" accept="image/*"> --}}

  <button type="submit">SUBMIT</button>
</form>
</div>
